<section class="spells techniques panelBorder">
  <h2>
    <div>{{localize "l5r4.sheet.advantages"}}/{{localize "l5r4.sheet.disadvantages"}}</div>
      <a class="item-create" data-type="advantage" title="{{localize "l5r4.sheet.addAdv/Dis"}}">
        <i class="fas fa-plus"></i>
      </a>
    </h2>
  <section class="special-list advantage-list">
    {{#each advantages as |advantage id|}}
    {{> "systems/l5r4/templates/partials/advantage-card.hbs" system=advantage.system inSheet=true}}
    {{/each}}
  </section>
  <section class="special-list disadvantage-list">
    {{#each disadvantages as |disadvantage id|}}
    {{> "systems/l5r4/templates/partials/disadvantage-card.hbs" system=disadvantage.system inSheet=true}}
    {{/each}}
  </section>
</section>