.l5r4.pc,
.l5r4.npc,
.xp-modal-dialog {
  .item-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    &.-header {
      background: var(--table-header-bg-color);
      border: 1px solid var(--table-header-border-color);
      border-inline-start: none;
      color: var(--table-header-text-color);
      font-weight: 600;
      padding: 0.5rem;

      .item {
        padding: 0;
      }
    }

    &.-advantages,
    &.-attacks {
      .item {
        grid-template-columns: 1fr 1fr 1fr 1fr 24px;
      }
    }

    &.-advantage {
      .item {
        grid-template-columns: 1fr 80px 80px 24px;
      }
    }

    &.-armor {
      .item {
        grid-template-columns: 1fr 80px 100px 100px 24px;
      }
    }

    &.-bio {
      .item {
        grid-template-columns: 1fr 24px;
      }
    }

    &.-commonItem {
      .item {
        grid-template-columns: 1fr 24px;
      }
    }

    &.-disadvantage {
      .item {
        grid-template-columns: 1fr 80px 80px 24px;
      }
    }

    &.-kata {
      .item {
        grid-template-columns: 1fr 80px 80px 24px;
      }
    }

    &.-kiho {
      .item {
        grid-template-columns: 1fr 80px 80px 80px 24px;
      }
    }

    &.-skill {
      .item {
        grid-template-columns: 1fr 60px 1fr 60px 1fr 24px;
      }
    }

    &.-spell {
      .item {
        grid-template-columns: 1fr 80px 80px 80px 1fr 1fr 24px;
      }
    }

    &.-tattoo {
      .item {
        grid-template-columns: 1fr 1fr 24px;
      }
    }

    &.-technique {
      .item {
        grid-template-columns: 1fr 1fr 1fr 24px;
      }
    }

    &.-weapon {
      .item {
        grid-template-columns: 1fr 80px 80px 150px 24px;
      }
    }

    &.-xp {
      .item {
        grid-template-columns: 150px 1fr 24px;
      }
    }

    &.-xp-spent {
      .item {
        grid-template-columns: 1fr 80px 120px;
      }
    }

    > .item:nth-of-type(even) {
      background-color: var(--table-row-color-even);
    }
  }

  .item {
    align-items: center;
    column-gap: 0.25rem;
    display: grid;
    grid-template-rows: min-content min-content;
    padding: 0 0.5rem;

    &.-bio {
      background: var(--table-header-bg-color);
    }

    &.-expandable {
      .inline-control {
        opacity: 1;
        pointer-events: all;
      }
    }

    &.is-expanded {
      .expanded-text {
        display: block;

        &.-npc {
          display: flex;
        }
      }
    }

    select,
    input[type="number"] {
      border: 1px solid var(--input-border-color);
      height: 2em;
      min-height: 2em;
    }

    .title {
      text-wrap: revert
    }

    .inline-control {
      opacity: 0;
      pointer-events: none;
    }

    .expanded-text {
      display: none;
      font-size: var(--font-size-14);
      grid-column: 1 / -1;
      grid-row: 2;

      &.-npc {
        background: var(--table-header-bg-color);
        flex-direction: column;
        padding: 0.5rem;

        h5 {
          margin: 0;
        }
      }
    }
  }
}
