@font-face {
  font-family: "Brushtip";
  src: url("assets/fonts/BrushtipTexe.ttf");
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSH___.TTF");
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSIH__.TTF");
  font-style: italic;
}
@font-face {
  font-family: "Old Style";
  src: url("assets/fonts/OLDSSCH_.TTF");
  font-weight: bold;
}
@font-face {
  font-family: "Rotis Serif";
  src: url("assets/fonts/RotisSerif.otf");
}
@font-face {
  font-family: "Rotis Serif";
  src: url("assets/fonts/RotisSerifStd-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "Rotis Semi Serif";
  src: url("assets/fonts/RotisSemiSerifStd.otf");
}
@font-face {
  font-family: "Rotis Semi Sans";
  src: url("assets/fonts/RotisSemiSansStd.otf");
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-Book.otf");
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-BookItalic.otf");
  font-style: italic;
}
@font-face {
  font-family: "Hiroshige book";
  src: url("assets/fonts/HiroshigeStd-Bold.otf");
}
body > * {
  scrollbar-width: thin;
}

.-gap-xs {
  gap: 0.125rem;
}

.-gap-sm {
  gap: 0.25rem;
}

.-gap-md {
  gap: 0.5rem;
}

.-gap-lg {
  gap: 0.75rem;
}

.-gap-xl {
  gap: 1rem;
}

.message-content .item h4,
.message-content .item h5 {
  margin: 0;
}
.message-content .item h5 {
  border-block-end: var(--sidebar-separator);
  font-size: var(--font-size-16);
  margin-block-start: 0.5rem;
}
.message-content .item p {
  margin: 0;
}
.message-content .l5r4-roll {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.message-content .l5r4-damage-button {
  width: 100%;
}

.l5r4.pc,
.l5r4.npc {
  --conditional-cursor: default;
  display: flex;
  flex-direction: column;
}
.l5r4.pc .window-content,
.l5r4.npc .window-content {
  flex-flow: row;
  gap: 1rem;
  overflow-y: auto;
  padding: 0;
}
.l5r4.pc .window-content > .flexcol,
.l5r4.npc .window-content > .flexcol {
  flex: 1 1 100%;
}
.l5r4.pc .window-content > .flexcol.sidebar,
.l5r4.npc .window-content > .flexcol.sidebar {
  flex: 0;
}
.l5r4.pc .main-sheet,
.l5r4.npc .main-sheet {
  column-gap: 1rem;
  display: inline-grid;
  grid-template-columns: 1fr min-content;
  height: 100%;
  width: calc(100% - 2px);
}
.l5r4.pc .limited-sheet,
.l5r4.npc .limited-sheet {
  padding: 1rem;
}
.l5r4.pc .limited-sheet > *,
.l5r4.npc .limited-sheet > * {
  align-items: center;
  margin: 0;
  text-align: center;
}
.l5r4.pc .actor-img,
.l5r4.npc .actor-img {
  align-items: center;
  cursor: var(--conditional-cursor);
  display: flex;
  height: 240px;
  justify-content: center;
  max-width: 240px;
  min-width: 240px;
  width: 240px;
}
.l5r4.pc .actor-img img,
.l5r4.npc .actor-img img {
  max-width: 100%;
  max-height: 100%;
}
.l5r4.pc input,
.l5r4.pc select,
.l5r4.pc textarea,
.l5r4.npc input,
.l5r4.npc select,
.l5r4.npc textarea {
  border: none;
  box-shadow: none;
  margin: 0;
  resize: none;
}
.l5r4.pc .input-placeholder,
.l5r4.npc .input-placeholder {
  align-items: center;
  color: var(--color-text-dark-primary);
  display: inline-flex;
  font-family: inherit;
  font-size: inherit;
  height: var(--input-height);
  line-height: var(--input-height);
  margin: 0;
  min-width: 20px;
  padding: 0 0.5rem;
  text-align: inherit;
  user-select: text;
  width: calc(100% - 2px);
}
.l5r4.pc .section-title,
.l5r4.npc .section-title {
  align-items: center;
  background: var(--color-header-background);
  color: var(--color-light-1);
  flex-wrap: nowrap;
  margin: 0;
  padding: 0.5rem;
}
.l5r4.pc .section-title.is-collapsed ~ .item-list,
.l5r4.npc .section-title.is-collapsed ~ .item-list {
  display: none;
}
.l5r4.pc .section-title .title,
.l5r4.pc .section-title .button,
.l5r4.pc .section-title input,
.l5r4.pc .section-title input::placeholder,
.l5r4.npc .section-title .title,
.l5r4.npc .section-title .button,
.l5r4.npc .section-title input,
.l5r4.npc .section-title input::placeholder {
  color: inherit;
}
.l5r4.pc .section-title input[type=text],
.l5r4.npc .section-title input[type=text] {
  max-width: 46px;
  width: auto;
}
.l5r4.pc .section-title span,
.l5r4.npc .section-title span {
  text-wrap: nowrap;
}
.l5r4.pc .section-title .flexrow.wealth,
.l5r4.pc .section-title .flexrow.spells,
.l5r4.npc .section-title .flexrow.wealth,
.l5r4.npc .section-title .flexrow.spells {
  flex-wrap: nowrap;
}
.l5r4.pc .section-title .slots,
.l5r4.npc .section-title .slots {
  position: relative;
}
.l5r4.pc .section-title .slots::after,
.l5r4.npc .section-title .slots::after {
  border-radius: 50%;
  box-shadow: white 0 0 5px 2px inset;
  content: "";
  height: 32px;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 32px;
}
.l5r4.pc .section-title .slots img,
.l5r4.npc .section-title .slots img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
}
.l5r4.pc .section-title .slots > span,
.l5r4.npc .section-title .slots > span {
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  cursor: var(--conditional-cursor);
  display: inline-flex;
  height: 32px;
  justify-content: center;
  left: 0;
  padding: 0;
  position: absolute;
  text-shadow: 1px 1px 1px #000, -1px -1px 1px #000;
  top: 0;
  width: 32px;
}
.l5r4.pc .section-container,
.l5r4.npc .section-container {
  padding: 0 0.5rem;
}
.l5r4.pc .section-container .editor-container,
.l5r4.npc .section-container .editor-container {
  min-height: 300px;
}
.l5r4.pc .title,
.l5r4.npc .title {
  align-items: center;
  display: inline-flex;
  font-size: var(--font-size-18);
  margin: 0;
  min-height: var(--input-height);
  text-wrap: nowrap;
}
.l5r4.pc .title.-compact,
.l5r4.npc .title.-compact {
  min-height: auto;
}
.l5r4.pc .info-group,
.l5r4.npc .info-group {
  flex-wrap: nowrap;
  transition-delay: 2000ms;
}
.l5r4.pc .info-group:hover,
.l5r4.npc .info-group:hover {
  transition-delay: 0;
}
.l5r4.pc .info-group:hover .clear-btn,
.l5r4.npc .info-group:hover .clear-btn {
  opacity: 1;
}
.l5r4.pc .info-group .clear-btn,
.l5r4.npc .info-group .clear-btn {
  opacity: 0;
}
.l5r4.pc .clear-btn,
.l5r4.npc .clear-btn {
  align-items: center;
  display: inline-flex;
  height: var(--form-field-height);
  justify-content: center;
  min-width: 20px;
}
.l5r4.pc .button,
.l5r4.npc .button {
  display: inline-flex;
}
.l5r4.pc .grid,
.l5r4.npc .grid {
  border: 1px solid var(--table-header-border-color);
  border-block-end: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.l5r4.pc .grid > span,
.l5r4.pc .grid > div,
.l5r4.npc .grid > span,
.l5r4.npc .grid > div {
  border-block-end: 1px solid var(--table-header-border-color);
}
.l5r4.pc .grid > span,
.l5r4.npc .grid > span {
  align-items: center;
  background: var(--table-header-bg-color);
  border-inline-end: 1px solid var(--table-header-border-color);
  display: inline-flex;
  font-family: var(--font-h4);
  font-size: var(--font-size-16);
  height: 100%;
  padding: 0.25rem;
}
.l5r4.pc .grid > div,
.l5r4.npc .grid > div {
  align-items: center;
  font-size: var(--font-size-16);
  padding: 0 0.1rem;
}
.l5r4.pc .grid > div > input,
.l5r4.pc .grid > div > select,
.l5r4.npc .grid > div > input,
.l5r4.npc .grid > div > select {
  height: auto;
  line-height: 1;
}
.l5r4.pc .grid > div > span,
.l5r4.npc .grid > div > span {
  padding: 0 0.5rem;
}

.l5r4.pc .item-list,
.l5r4.npc .item-list,
.xp-modal-dialog .item-list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.l5r4.pc .item-list.-header,
.l5r4.npc .item-list.-header,
.xp-modal-dialog .item-list.-header {
  background: var(--table-header-bg-color);
  border: 1px solid var(--table-header-border-color);
  border-inline-start: none;
  color: var(--table-header-text-color);
  font-weight: 600;
  padding: 0.5rem;
}
.l5r4.pc .item-list.-header .item,
.l5r4.npc .item-list.-header .item,
.xp-modal-dialog .item-list.-header .item {
  padding: 0;
}
.l5r4.pc .item-list.-advantages .item, .l5r4.pc .item-list.-attacks .item,
.l5r4.npc .item-list.-advantages .item,
.l5r4.npc .item-list.-attacks .item,
.xp-modal-dialog .item-list.-advantages .item,
.xp-modal-dialog .item-list.-attacks .item {
  grid-template-columns: 1fr 1fr 1fr 1fr 24px;
}
.l5r4.pc .item-list.-advantage .item,
.l5r4.npc .item-list.-advantage .item,
.xp-modal-dialog .item-list.-advantage .item {
  grid-template-columns: 1fr 80px 80px 24px;
}
.l5r4.pc .item-list.-armor .item,
.l5r4.npc .item-list.-armor .item,
.xp-modal-dialog .item-list.-armor .item {
  grid-template-columns: 1fr 80px 100px 100px 24px;
}
.l5r4.pc .item-list.-bio .item,
.l5r4.npc .item-list.-bio .item,
.xp-modal-dialog .item-list.-bio .item {
  grid-template-columns: 1fr 24px;
}
.l5r4.pc .item-list.-commonItem .item,
.l5r4.npc .item-list.-commonItem .item,
.xp-modal-dialog .item-list.-commonItem .item {
  grid-template-columns: 1fr 24px;
}
.l5r4.pc .item-list.-disadvantage .item,
.l5r4.npc .item-list.-disadvantage .item,
.xp-modal-dialog .item-list.-disadvantage .item {
  grid-template-columns: 1fr 80px 80px 24px;
}
.l5r4.pc .item-list.-kata .item,
.l5r4.npc .item-list.-kata .item,
.xp-modal-dialog .item-list.-kata .item {
  grid-template-columns: 1fr 80px 80px 24px;
}
.l5r4.pc .item-list.-kiho .item,
.l5r4.npc .item-list.-kiho .item,
.xp-modal-dialog .item-list.-kiho .item {
  grid-template-columns: 1fr 80px 80px 80px 24px;
}
.l5r4.pc .item-list.-skill .item,
.l5r4.npc .item-list.-skill .item,
.xp-modal-dialog .item-list.-skill .item {
  grid-template-columns: 1fr 60px 1fr 60px 1fr 24px;
}
.l5r4.pc .item-list.-spell .item,
.l5r4.npc .item-list.-spell .item,
.xp-modal-dialog .item-list.-spell .item {
  grid-template-columns: 1fr 80px 80px 80px 1fr 1fr 24px;
}
.l5r4.pc .item-list.-tattoo .item,
.l5r4.npc .item-list.-tattoo .item,
.xp-modal-dialog .item-list.-tattoo .item {
  grid-template-columns: 1fr 1fr 24px;
}
.l5r4.pc .item-list.-technique .item,
.l5r4.npc .item-list.-technique .item,
.xp-modal-dialog .item-list.-technique .item {
  grid-template-columns: 1fr 1fr 1fr 24px;
}
.l5r4.pc .item-list.-weapon .item,
.l5r4.npc .item-list.-weapon .item,
.xp-modal-dialog .item-list.-weapon .item {
  grid-template-columns: 1fr 80px 80px 150px 24px;
}
.l5r4.pc .item-list.-xp .item,
.l5r4.npc .item-list.-xp .item,
.xp-modal-dialog .item-list.-xp .item {
  grid-template-columns: 150px 1fr 24px;
}
.l5r4.pc .item-list.-xp-spent .item,
.l5r4.npc .item-list.-xp-spent .item,
.xp-modal-dialog .item-list.-xp-spent .item {
  grid-template-columns: 1fr 80px 120px;
}
.l5r4.pc .item-list > .item:nth-of-type(even),
.l5r4.npc .item-list > .item:nth-of-type(even),
.xp-modal-dialog .item-list > .item:nth-of-type(even) {
  background-color: var(--table-row-color-even);
}
.l5r4.pc .item,
.l5r4.npc .item,
.xp-modal-dialog .item {
  align-items: center;
  column-gap: 0.25rem;
  display: grid;
  grid-template-rows: min-content min-content;
  padding: 0 0.5rem;
}
.l5r4.pc .item.-bio,
.l5r4.npc .item.-bio,
.xp-modal-dialog .item.-bio {
  background: var(--table-header-bg-color);
}
.l5r4.pc .item.-expandable .inline-control,
.l5r4.npc .item.-expandable .inline-control,
.xp-modal-dialog .item.-expandable .inline-control {
  opacity: 1;
  pointer-events: all;
}
.l5r4.pc .item.is-expanded .expanded-text,
.l5r4.npc .item.is-expanded .expanded-text,
.xp-modal-dialog .item.is-expanded .expanded-text {
  display: block;
}
.l5r4.pc .item.is-expanded .expanded-text.-npc,
.l5r4.npc .item.is-expanded .expanded-text.-npc,
.xp-modal-dialog .item.is-expanded .expanded-text.-npc {
  display: flex;
}
.l5r4.pc .item select,
.l5r4.pc .item input[type=number],
.l5r4.npc .item select,
.l5r4.npc .item input[type=number],
.xp-modal-dialog .item select,
.xp-modal-dialog .item input[type=number] {
  border: 1px solid var(--input-border-color);
  height: 2em;
  min-height: 2em;
}
.l5r4.pc .item .title,
.l5r4.npc .item .title,
.xp-modal-dialog .item .title {
  text-wrap: revert;
}
.l5r4.pc .item .inline-control,
.l5r4.npc .item .inline-control,
.xp-modal-dialog .item .inline-control {
  opacity: 0;
  pointer-events: none;
}
.l5r4.pc .item .expanded-text,
.l5r4.npc .item .expanded-text,
.xp-modal-dialog .item .expanded-text {
  display: none;
  font-size: var(--font-size-14);
  grid-column: 1/-1;
  grid-row: 2;
}
.l5r4.pc .item .expanded-text.-npc,
.l5r4.npc .item .expanded-text.-npc,
.xp-modal-dialog .item .expanded-text.-npc {
  background: var(--table-header-bg-color);
  flex-direction: column;
  padding: 0.5rem;
}
.l5r4.pc .item .expanded-text.-npc h5,
.l5r4.npc .item .expanded-text.-npc h5,
.xp-modal-dialog .item .expanded-text.-npc h5 {
  margin: 0;
}

.l5r4.pc .ranks,
.l5r4.npc .ranks {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.l5r4.pc .rank-name,
.l5r4.npc .rank-name {
  background: var(--table-header-bg-color);
  border: 1px solid var(--table-header-border-color);
  color: var(--table-header-text-color);
  cursor: var(--conditional-cursor);
  display: flex;
  font-size: var(--font-size-16);
  padding: 0.25rem 0;
  text-align: center;
}
.l5r4.pc .rank-name span:first-child,
.l5r4.npc .rank-name span:first-child {
  font-family: var(--font-h4);
  font-size: var(--font-size-18);
  font-weight: 600;
}

.l5r4.pc .pc-info,
.l5r4.npc .pc-info {
  background: url("assets/textures/brush.webp") no-repeat 0 0;
  background-size: 100% 100%;
  flex-wrap: nowrap;
  padding: 1rem;
}
.l5r4.pc .pc-info input,
.l5r4.pc .pc-info .input-placeholder,
.l5r4.npc .pc-info input,
.l5r4.npc .pc-info .input-placeholder {
  background: none;
  font-size: var(--font-size-16);
  height: calc(var(--input-height) - 0.5rem);
  line-height: 1;
}
.l5r4.pc .pc-info .title,
.l5r4.npc .pc-info .title {
  min-height: calc(var(--input-height) - 0.5rem);
}
.l5r4.pc .traits-rings,
.l5r4.npc .traits-rings {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 32px 32px 32px 32px 32px 32px 8px 8px 32px 32px 32px 32px 32px 32px 1fr;
  grid-template-rows: min-content 1fr 1fr 2px 1fr 1fr 1fr min-content min-content;
  justify-items: center;
  overflow: hidden;
}
.l5r4.pc .traits-rings .ring-name,
.l5r4.npc .traits-rings .ring-name {
  align-self: start;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  margin: 0;
  min-height: 24px;
  text-align: center;
  width: 100%;
}
.l5r4.pc .traits-rings .ring-rank,
.l5r4.npc .traits-rings .ring-rank {
  align-content: center;
  background-color: var(--content-link-background);
  border-radius: 50%;
  border: 1px solid var(--table-header-border-color);
  color: var(--color-text-primary);
  cursor: var(--conditional-cursor);
  display: grid;
  font-family: var(--font-h1);
  font-size: 32px;
  font-weight: 600;
  height: 32px;
  justify-content: center;
  margin: 0;
  width: 32px;
  z-index: 10;
}
.l5r4.pc .traits-rings .ring-roll,
.l5r4.npc .traits-rings .ring-roll {
  position: relative;
}
.l5r4.pc .traits-rings .ring-roll::after,
.l5r4.npc .traits-rings .ring-roll::after {
  border-radius: 50%;
  box-shadow: white 0 0 5px 2px inset;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.l5r4.pc .traits-rings .ring-roll img,
.l5r4.npc .traits-rings .ring-roll img {
  border-radius: 50%;
  height: 96px;
  position: relative;
  width: 96px;
}
.l5r4.pc .traits-rings .trait,
.l5r4.pc .traits-rings .void-points,
.l5r4.npc .traits-rings .trait,
.l5r4.npc .traits-rings .void-points {
  align-items: center;
  align-self: center;
  column-gap: 0.5rem;
  display: grid;
  grid-template-areas: "roll rank";
  grid-template-columns: 1fr 24px;
  justify-items: right;
  margin: 0;
  width: 100%;
}
.l5r4.pc .traits-rings .trait .trait-roll,
.l5r4.pc .traits-rings .void-points .trait-roll,
.l5r4.npc .traits-rings .trait .trait-roll,
.l5r4.npc .traits-rings .void-points .trait-roll {
  grid-area: roll;
}
.l5r4.pc .traits-rings .trait .trait-roll p,
.l5r4.pc .traits-rings .void-points .trait-roll p,
.l5r4.npc .traits-rings .trait .trait-roll p,
.l5r4.npc .traits-rings .void-points .trait-roll p {
  margin: 0;
}
.l5r4.pc .traits-rings .trait .trait-rank,
.l5r4.pc .traits-rings .trait .void-points-amount,
.l5r4.pc .traits-rings .void-points .trait-rank,
.l5r4.pc .traits-rings .void-points .void-points-amount,
.l5r4.npc .traits-rings .trait .trait-rank,
.l5r4.npc .traits-rings .trait .void-points-amount,
.l5r4.npc .traits-rings .void-points .trait-rank,
.l5r4.npc .traits-rings .void-points .void-points-amount {
  align-items: center;
  background-color: var(--table-header-bg-color);
  border-radius: 50%;
  color: var(--color-text-primary);
  cursor: var(--conditional-cursor);
  display: inline-flex;
  font-family: var(--font-h3);
  font-size: 22px;
  font-weight: 600;
  grid-area: rank;
  height: 24px;
  justify-content: center;
  padding: 0;
  text-align: center;
  width: 24px;
  z-index: 10;
}
.l5r4.pc .traits-rings .trait-reflex,
.l5r4.pc .traits-rings .trait-awarness,
.l5r4.pc .traits-rings .trait-agility,
.l5r4.pc .traits-rings .trait-intelligence,
.l5r4.npc .traits-rings .trait-reflex,
.l5r4.npc .traits-rings .trait-awarness,
.l5r4.npc .traits-rings .trait-agility,
.l5r4.npc .traits-rings .trait-intelligence {
  grid-template-areas: "rank roll";
  grid-template-columns: 24px 1fr;
  justify-items: start;
  padding-inline-start: 8px;
}
.l5r4.pc .traits-rings .trait-stamina,
.l5r4.pc .traits-rings .trait-willpower,
.l5r4.pc .traits-rings .trait-strength,
.l5r4.pc .traits-rings .trait-perception,
.l5r4.npc .traits-rings .trait-stamina,
.l5r4.npc .traits-rings .trait-willpower,
.l5r4.npc .traits-rings .trait-strength,
.l5r4.npc .traits-rings .trait-perception {
  padding-inline-end: 8px;
}
.l5r4.pc .traits-rings .trait-willpower,
.l5r4.npc .traits-rings .trait-willpower {
  margin-inline-end: -32px;
}
.l5r4.pc .traits-rings .trait-strength,
.l5r4.npc .traits-rings .trait-strength {
  margin-inline-end: -64px;
}
.l5r4.pc .traits-rings .trait-perception,
.l5r4.npc .traits-rings .trait-perception {
  margin-inline-end: -96px;
}
.l5r4.pc .traits-rings .trait-awarness,
.l5r4.npc .traits-rings .trait-awarness {
  margin-inline-start: 32px;
}
.l5r4.pc .traits-rings .trait-agility,
.l5r4.npc .traits-rings .trait-agility {
  margin-inline-start: 64px;
}
.l5r4.pc .traits-rings .trait-intelligence,
.l5r4.npc .traits-rings .trait-intelligence {
  margin-inline-start: 96px;
}
.l5r4.pc .traits-rings .trait-willpower,
.l5r4.pc .traits-rings .trait-perception,
.l5r4.npc .traits-rings .trait-willpower,
.l5r4.npc .traits-rings .trait-perception {
  align-self: start;
}
.l5r4.pc .traits-rings .ring-name-earth,
.l5r4.npc .traits-rings .ring-name-earth {
  align-self: end;
  grid-column: 5/8;
  grid-row: 1/2;
}
.l5r4.pc .traits-rings .earth-ring,
.l5r4.npc .traits-rings .earth-ring {
  grid-column: 5/8;
  grid-row: 2/4;
}
.l5r4.pc .traits-rings .earth-ring .earth-ring-img,
.l5r4.npc .traits-rings .earth-ring .earth-ring-img {
  border: none;
  content: url("assets/icons/earth.png");
}
.l5r4.pc .traits-rings .ring-rank-earth,
.l5r4.npc .traits-rings .ring-rank-earth {
  align-self: end;
  grid-column: 6/8;
  grid-row: 3/4;
  justify-self: end;
}
.l5r4.pc .traits-rings .trait-stamina,
.l5r4.npc .traits-rings .trait-stamina {
  grid-column: 1/5;
  grid-row: 2/3;
}
.l5r4.pc .traits-rings .trait-willpower,
.l5r4.npc .traits-rings .trait-willpower {
  grid-column: 1/4;
  grid-row: 3/4;
}
.l5r4.pc .traits-rings .ring-name-air,
.l5r4.npc .traits-rings .ring-name-air {
  align-self: end;
  grid-column: 10/13;
  grid-row: 1/2;
}
.l5r4.pc .traits-rings .air-ring,
.l5r4.npc .traits-rings .air-ring {
  grid-column: 10/13;
  grid-row: 2/4;
}
.l5r4.pc .traits-rings .air-ring .air-ring-img,
.l5r4.npc .traits-rings .air-ring .air-ring-img {
  border: none;
  content: url("assets/icons/air.png");
}
.l5r4.pc .traits-rings .ring-rank-air,
.l5r4.npc .traits-rings .ring-rank-air {
  align-self: end;
  grid-column: 10/11;
  grid-row: 3/4;
  justify-self: start;
}
.l5r4.pc .traits-rings .trait-reflex,
.l5r4.npc .traits-rings .trait-reflex {
  grid-column: 13/18;
  grid-row: 2/3;
}
.l5r4.pc .traits-rings .trait-awarness,
.l5r4.npc .traits-rings .trait-awarness {
  align-self: start;
  grid-column: 13/18;
  grid-row: 3/4;
}
.l5r4.pc .traits-rings .ring-name-water,
.l5r4.npc .traits-rings .ring-name-water {
  grid-column: 4/7;
  grid-row: 7/8;
}
.l5r4.pc .traits-rings .water-ring,
.l5r4.npc .traits-rings .water-ring {
  grid-column: 4/7;
  grid-row: 5/7;
}
.l5r4.pc .traits-rings .water-ring .water-ring-img,
.l5r4.npc .traits-rings .water-ring .water-ring-img {
  border: none;
  content: url("assets/icons/water.png");
}
.l5r4.pc .traits-rings .ring-rank-water,
.l5r4.npc .traits-rings .ring-rank-water {
  grid-column: 6/7;
  grid-row: 5/6;
  justify-self: end;
  margin-inline-end: -12px;
}
.l5r4.pc .traits-rings .trait-strength,
.l5r4.npc .traits-rings .trait-strength {
  grid-column: 1/3;
  grid-row: 5/6;
}
.l5r4.pc .traits-rings .trait-perception,
.l5r4.npc .traits-rings .trait-perception {
  grid-column: 1/1;
  grid-row: 6/7;
}
.l5r4.pc .traits-rings .ring-name-fire,
.l5r4.npc .traits-rings .ring-name-fire {
  grid-column: 11/14;
  grid-row: 7/8;
}
.l5r4.pc .traits-rings .fire-ring,
.l5r4.npc .traits-rings .fire-ring {
  grid-column: 11/14;
  grid-row: 5/7;
}
.l5r4.pc .traits-rings .fire-ring .fire-ring-img,
.l5r4.npc .traits-rings .fire-ring .fire-ring-img {
  border: none;
  content: url("assets/icons/fire.png");
}
.l5r4.pc .traits-rings .ring-rank-fire,
.l5r4.npc .traits-rings .ring-rank-fire {
  grid-column: 11/12;
  grid-row: 5/6;
  justify-self: start;
  margin-inline-start: -12px;
}
.l5r4.pc .traits-rings .trait-agility,
.l5r4.npc .traits-rings .trait-agility {
  grid-column: 13/16;
  grid-row: 5/6;
}
.l5r4.pc .traits-rings .trait-intelligence,
.l5r4.npc .traits-rings .trait-intelligence {
  align-self: start;
  grid-column: 13/16;
  grid-row: 6/7;
}
.l5r4.pc .traits-rings .ring-name-void,
.l5r4.npc .traits-rings .ring-name-void {
  grid-column: 7/11;
  grid-row: 8/9;
}
.l5r4.pc .traits-rings .ring-rank-void,
.l5r4.npc .traits-rings .ring-rank-void {
  align-self: start;
  grid-column: 8/10;
  grid-row: 6/7;
  margin-block-start: -12px;
  text-align: center;
}
.l5r4.pc .traits-rings .void-ring,
.l5r4.npc .traits-rings .void-ring {
  grid-column: 6/12;
  grid-row: 6/8;
}
.l5r4.pc .traits-rings .void-ring .void-ring-img,
.l5r4.npc .traits-rings .void-ring .void-ring-img {
  border: none;
  content: url("assets/icons/void.png");
}
.l5r4.pc .traits-rings .void-points,
.l5r4.npc .traits-rings .void-points {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  grid-column: 1/18;
  grid-row: 10/11;
  margin-block-start: 4px;
  width: max-content;
}
.l5r4.pc .traits-rings .void-points-name,
.l5r4.npc .traits-rings .void-points-name {
  margin: 0;
}
.l5r4.pc .traits-rings .void-points-dots,
.l5r4.npc .traits-rings .void-points-dots {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 2px;
}
.l5r4.pc .traits-rings .void-dot,
.l5r4.npc .traits-rings .void-dot {
  border: 2px solid #666;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
.l5r4.pc .traits-rings .void-dot.-filled,
.l5r4.npc .traits-rings .void-dot.-filled {
  background-color: #666;
}

.l5r4.pc .grid .wound-grid,
.l5r4.npc .grid .wound-grid,
.wound-config-app .grid .wound-grid {
  border-block-end: none;
  display: grid;
  grid-column-end: 3;
  grid-column-start: 1;
  grid-template-columns: 1fr min-content min-content min-content;
  padding: 0;
}
.l5r4.pc .grid .wound-grid > span,
.l5r4.npc .grid .wound-grid > span,
.wound-config-app .grid .wound-grid > span {
  align-items: center;
  background: var(--table-header-bg-color);
  border-inline-end: none;
  border-block-end: 1px solid var(--table-header-border-color);
  display: inline-flex;
  font-family: var(--font-h4);
  font-size: var(--font-size-16);
  height: 100%;
  justify-content: center;
  padding: 0.25rem;
}
.l5r4.pc .grid .wound-grid > span:first-child,
.l5r4.npc .grid .wound-grid > span:first-child,
.wound-config-app .grid .wound-grid > span:first-child {
  justify-content: start;
}
.l5r4.pc .grid .wound-grid > div,
.l5r4.npc .grid .wound-grid > div,
.wound-config-app .grid .wound-grid > div {
  align-items: center;
  border-block-end: 1px solid var(--table-header-border-color);
  display: inline-flex;
  justify-content: center;
  min-height: 25px;
  padding: 0.1rem 0.25rem;
}
.l5r4.pc .grid .wound-grid > div:nth-child(4n+1),
.l5r4.npc .grid .wound-grid > div:nth-child(4n+1),
.wound-config-app .grid .wound-grid > div:nth-child(4n+1) {
  justify-content: start;
}
.l5r4.pc .grid .wound-grid > div input,
.l5r4.npc .grid .wound-grid > div input,
.wound-config-app .grid .wound-grid > div input {
  height: auto;
  line-height: 1;
  text-align: center;
}

.l5r4.item .window-content {
  gap: 0.5rem;
  overflow: auto;
}
.l5r4.item .header-fields > h1 {
  margin: 0;
}
.l5r4.item .header-fields > h1 input {
  height: auto;
}
.l5r4.item .sheet-content > h4 {
  margin: 1rem 0 0.5rem;
}
.l5r4.item .sheet-content > h4.prose-title {
  margin-block-end: 0;
}
.l5r4.item .button {
  display: inline-flex;
}
.l5r4.item .editor {
  min-height: 200px;
}
.l5r4.item prose-mirror {
  border-block-end: var(--sidebar-separator);
}
.l5r4.item .effects-list {
  margin: 0;
  padding: 0;
}
.l5r4.item .effects-list .effect {
  margin-block-start: 0.5rem;
}
.l5r4.item .effect-controls {
  flex-wrap: nowrap;
}

.wound-config-app .window-content {
  overflow-y: auto;
}

.xp-modal-dialog .window-content {
  overflow-y: auto;
}
.xp-modal-dialog .window-content h3 {
  border-block-end: 1px solid var(--color-border);
  margin: 0;
}
.xp-modal-dialog .xp-breakdown-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.xp-modal-dialog .xp-breakdown-list li {
  border-block-end: 1px solid var(--color-border);
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  padding: 0.25rem;
}
.xp-modal-dialog .xp-breakdown-list li:last-child {
  border-block-end: none;
}
.xp-modal-dialog .item-list.-header {
  border-inline-start: 1px solid var(--table-header-border-color);
}
.xp-modal-dialog .item-list .title {
  align-items: center;
  display: inline-flex;
  font-size: var(--font-size-18);
  margin: 0;
  min-height: var(--input-height);
  text-wrap: nowrap;
}
