<section class="standard-form">
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.type"}}</label>
    <div class="form-fields">
      <select name="system.type">
        {{selectOptions config.advantageTypes selected=system.type localize=true}}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.cost"}}</label>
    <div class="form-fields">
      <input name="system.cost" type="number" value="{{system.cost}}" data-type="Number" />
    </div>
  </div>
</section>
{{> (concat "systems/" SYS_ID "/templates/item/_partials/_rules-summary.hbs") }}
