<section class="standard-form">
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.effect"}}</label>
    <div class="form-fields">
      <textarea name="system.effect">{{system.effect}}</textarea>
    </div>
  </div>
</section>
{{> (concat "systems/" SYS_ID "/templates/item/_partials/_rules-summary.hbs") }}
