<section class="flexcol -gap-sm">
  <div class="flexrow -gap-sm section-title" data-scope="advantages">
    <h4 class="title">{{localize "l5r4.ui.sheets.advantages"}}</h4>
    {{> "systems/l5r4/templates/actor/_partials/_unified-item-create.hbs"}}
    {{> "systems/l5r4/templates/actor/_partials/_expand.hbs"}}
  </div>
  <section class="item-list -advantage -header" data-scope="advantages">
    <div class="item">
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="name">{{localize "l5r4.ui.common.name"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="type">{{localize "l5r4.ui.common.type"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="cost">{{localize "l5r4.ui.common.cost"}}</a>
    </div>
  </section>
  <section class="item-list -advantage">
    {{#each advantages as |item id|}}
      {{> "systems/l5r4/templates/cards/advantage-disadvantage.hbs"
          system=item.system
          inSheet=true
          docId=item.id}}
    {{/each}}
  </section>
</section>
