<section class="flexcol -gap-sm">
  <div class="flexrow -gap-sm section-title" data-scope="katas">
    <h4 class="title">{{localize "l5r4.ui.sheets.kata"}}</h4>
    {{> "systems/l5r4/templates/actor/_partials/_unified-item-create.hbs"}}
    {{> "systems/l5r4/templates/actor/_partials/_expand.hbs"}}
  </div>
  <section class="item-list -kata -header" data-scope="katas">
    <div class="item">
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="name">{{localize "l5r4.ui.common.name"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="ring">{{localize "l5r4.ui.common.ring"}}</a>
      <a class="item-sort-by" data-action="item-sort-by" data-sortby="mastery">{{localize "l5r4.ui.common.mastery"}}</a>
      <span></span>
    </div>
  </section>
  <section class="item-list -kata">
    {{#each katas as |kata id|}}
      {{> "systems/l5r4/templates/cards/kata.hbs" system=kata.system inSheet=true docId=kata.id}}
    {{/each}}
  </section>
</section>
