<form>
  <div class="form-group">
    <label> {{localize "l5r4.traits.name"}}</label>
    <input type="text" name="itemName" placeholder="New advantage/disadvantage">
  </div>

  <div class="form-group">
    <label>{{localize "l5r4.skill.type"}}</label>
    <select name="itemType">
      <option value="advantage">{{localize "l5r4.sheet.advantage"}}</option>
      <option value="disadvantage">{{localize "l5r4.sheet.disadvantage"}}</option>
    </select>
  </div>
</form>