@use "../config.scss" as config;

.l5r4.pc,
.l5r4.npc {
  .pc-info {
    background: config.$brush-background;
    background-size: 100% 100%;
    flex-wrap: nowrap;
    padding: 1rem;

    input,
    .input-placeholder {
      background: none;
      font-size: var(--font-size-16);
      height: calc(var(--input-height) - 0.5rem);
      line-height: 1;
    }

    .title {
      min-height: calc(var(--input-height) - 0.5rem);
    }
  }

  .traits-rings {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 32px 32px 32px 32px 32px 32px 8px 8px 32px 32px 32px 32px 32px 32px 1fr;
    grid-template-rows: min-content 1fr 1fr 2px 1fr 1fr 1fr min-content min-content;
    justify-items: center;
    overflow: hidden;

    .ring-name {
      align-self: start;
      align-items: center;
      display: inline-flex;
      justify-content: center;
      margin: 0;
      min-height: 24px;
      text-align: center;
      width: 100%;
    }

    .ring-rank {
      align-content: center;
      background-color: var(--content-link-background);
      border-radius: 50%;
      border: 1px solid var(--table-header-border-color);
      color: var(--color-text-primary);
      cursor: var(--conditional-cursor);
      display: grid;
      font-family: var(--font-h1);
      font-size: 32px;
      font-weight: 600;
      height: 32px;
      justify-content: center;
      margin: 0;
      width: 32px;
      z-index: 10;
    }

    .ring-roll {
      position: relative;

      &::after {
        border-radius: 50%;
        box-shadow: white 0 0 5px 2px inset;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      img {
        border-radius: 50%;
        height: 96px;
        position: relative;
        width: 96px;
      }
    }

    .trait,
    .void-points {
      align-items: center;
      align-self: center;
      column-gap: 0.5rem;
      display: grid;
      grid-template-areas: "roll rank";
      grid-template-columns: 1fr 24px;
      justify-items: right;
      margin: 0;
      width: 100%;

      .trait-roll {
        grid-area: roll;

        p {
          margin: 0;
        }
      }

      .trait-rank,
      .void-points-amount {
        align-items: center;
        background-color: var(--table-header-bg-color);
        border-radius: 50%;
        color: var(--color-text-primary);
        cursor: var(--conditional-cursor);
        display: inline-flex;
        font-family: var(--font-h3);
        font-size: 22px;
        font-weight: 600;
        grid-area: rank;
        height: 24px;
        justify-content: center;
        padding: 0;
        text-align: center;
        width: 24px;
        z-index: 10;
      }
    }

    .trait-reflex,
    .trait-awarness,
    .trait-agility,
    .trait-intelligence {
      grid-template-areas: "rank roll";
      grid-template-columns: 24px 1fr;
      justify-items: start;
      padding-inline-start: 8px;
    }

    .trait-stamina,
    .trait-willpower,
    .trait-strength,
    .trait-perception {
      padding-inline-end: 8px;
    }

    .trait-willpower {
      margin-inline-end: -32px;
    }

    .trait-strength {
      margin-inline-end: -64px;
    }

    .trait-perception {
      margin-inline-end: -96px;
    }

    .trait-awarness {
      margin-inline-start: 32px;
    }

    .trait-agility {
      margin-inline-start: 64px;
    }

    .trait-intelligence {
      margin-inline-start: 96px;
    }

    .trait-willpower,
    .trait-perception {
      align-self: start;
    }

    // Earth
    .ring-name-earth {
      align-self: end;
      grid-column: 5/8;
      grid-row: 1/2;
    }

    .earth-ring {
      grid-column: 5/8;
      grid-row: 2/4;

      .earth-ring-img {
        border: none;
        content: config.$earth-ring-img;
      }
    }

    .ring-rank-earth {
      align-self: end;
      grid-column: 6/8;
      grid-row: 3/4;
      justify-self: end;
    }

    .trait-stamina {
      grid-column: 1/5;
      grid-row: 2/3;
    }

    .trait-willpower {
      grid-column: 1/4;
      grid-row: 3/4;
    }

    // Air
    .ring-name-air {
      align-self: end;
      grid-column: 10/13;
      grid-row: 1/2;
    }

    .air-ring {
      grid-column: 10/13;
      grid-row: 2/4;

      .air-ring-img {
        border: none;
        content: config.$air-ring-img;
      }
    }

    .ring-rank-air {
      align-self: end;
      grid-column: 10/11;
      grid-row: 3/4;
      justify-self: start;
    }

    .trait-reflex {
      grid-column: 13/18;
      grid-row: 2/3;
    }

    .trait-awarness {
      align-self: start;
      grid-column: 13/18;
      grid-row: 3/4;
    }

    // Water
    .ring-name-water {
      grid-column: 4/7;
      grid-row: 7/8;
    }

    .water-ring {
      grid-column: 4/7;
      grid-row: 5/7;

      .water-ring-img{
        border: none;
        content: config.$water-ring-img;
      }
    }

    .ring-rank-water {
      grid-column: 6/7;
      grid-row: 5/6;
      justify-self: end;
      margin-inline-end: -12px;
    }

    .trait-strength {
      grid-column: 1/3;
      grid-row: 5/6;
    }

    .trait-perception {
      grid-column: 1/1;
      grid-row: 6/7;
    }

    // Fire
    .ring-name-fire {
      grid-column: 11/14;
      grid-row: 7/8;
    }

    .fire-ring {
      grid-column: 11/14;
      grid-row: 5/7;

      .fire-ring-img{
        border: none;
        content: config.$fire-ring-img;
      }
    }

    .ring-rank-fire {
      grid-column: 11/12;
      grid-row: 5/6;
      justify-self: start;
      margin-inline-start: -12px;
    }

    .trait-agility {
      grid-column: 13/16;
      grid-row: 5/6;
    }

    .trait-intelligence {
      align-self: start;
      grid-column: 13/16;
      grid-row: 6/7;
    }

    // Void
    .ring-name-void {
      grid-column: 7/11;
      grid-row: 8/9;
    }

    .ring-rank-void {
      align-self: start;
      grid-column: 8/10;
      grid-row: 6/7;
      margin-block-start: -12px;
      text-align: center;
    }

    .void-ring {
      grid-column: 6/12;
      grid-row: 6/8;

      .void-ring-img{
        border: none;
        content: config.$void-ring-img;
      }
    }

    .void-points {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 2px;
      grid-column: 1/18;
      grid-row: 10/11;
      margin-block-start: 4px;
      width: max-content;
    }

    .void-points-name {
      margin: 0;
    }

    .void-points-dots {
      align-items: center;
      cursor: pointer;
      display: flex;
      gap: 2px;
    }

    .void-dot {
      border: 2px solid #666;
      border-radius: 50%;
      height: 12px;
      // pointer-events: none;
      width: 12px;

      &.-filled {
        background-color: #666;
      }
    }
  }
}
