<form class="{{cssClass}}" autocomplete="off">
  <div class="limited-sheet flexcol -gap-lg">
    <h1 class="name flex0">{{actor.name}}</h1>
    <div class="flexcol flex1">
      <img class="actor-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    </div>
  </div>
</form>