.message-content {
  .item {
    h4,
    h5 {
      margin: 0;
    }

    h5 {
      border-block-end: var(--sidebar-separator);
      font-size: var(--font-size-16);
      margin-block-start: 0.5rem;
    }

    p {
      margin: 0;
    }
  }

  .l5r4-roll {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }
    
  

  .l5r4-damage-button {
    width: 100%;
  }
}
