// images
$air-ring-img: url("../assets/icons/air.webp");
$water-ring-img: url("../assets/icons/water.webp");
$earth-ring-img: url("../assets/icons/earth.webp");
$fire-ring-img: url("../assets/icons/fire.webp");
$void-ring-img: url("../assets/icons/void.webp");
