<section class="standard-form">
  <div class="form-group">
    <label>{{localize "l5r4.ui.common.bonus"}}</label>
    <div class="form-fields">
      <input name="system.bonus" type="number" value="{{system.bonus}}" data-type="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "l5r4.equipment.armor.reduction"}}</label>
    <div class="form-fields">
      <input name="system.reduction" type="number" value="{{system.reduction}}" data-type="Number" />
    </div>
  </div>
</section>
